img{
  display: block;
  margin-left: auto;
  margin-right: auto;
 
}
body{
  background-color: #BA0C2F;
}
h1{
  text-align: center;
  color: #FEDD00;
}
div.scrollbox{
  height: 200px;
  width: 100%;
  overflow: scroll;
}

table{
  width: 100%
}
th, td {
  border: 1px solid black;
  text-align: center;
}
h4{
  text-align: center;
}
#previous-page{
 position: absolute;
 left: 0px; 
}

#next-page{
 position: absolute;
 right: 0px; 
}